.card-item {
  width: 451px;
  display: flex;
  
  box-shadow: 0px 4px 12px 0px #00000026;

  @media screen and (max-width: 600px){
    width: 388px;
    height: 245px;
  }
}

.card-item__image {
  
  width: 183px;
  height: 281px;
  object-fit: contain;

  @media screen and (max-width: 600px){
    position: absolute;
    width: 60px;
    height: 91px;
    padding: 6px 0 0 10px;
  }

}

.card-item__wrapper {
  width: 388px;
  padding: 12px 20px;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 600px){
    position: relative;
    padding: 0;
  }
}

.card-item__title {
  margin: 0;
  max-width: 190px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  @media screen and (max-width: 600px){
    padding: 4px 0 0 83px;
  }
}

.card-item__date {
  color: #827E7E;

  display: block;
  margin-bottom: 7px;

  @media screen and (max-width: 600px){
    padding-left: 83px;
  }
}

.card-item__genre-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 7px;

  @media screen and (max-width: 600px){
    padding-left: 83px;
  }
}

.card-item__genre-item {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;

  padding: 2px 4px 3px;

  box-sizing: border-box;
  line-height: 0;
}

.card-item__genre-item span {
  color: rgba(0, 0, 0, 0.65);
  line-height: normal;
}

.card-item__description {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;

  @media screen and (max-width: 600px) {
    position: absolute;
    padding: 0 10px 0px 10px;
    width: 367px;
    bottom: 46px; 
  }
}

.long > h2{
  @media screen and (max-width: 600px){
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }
}


.rate {
  margin-top: auto;


  @media screen and (max-width: 600px){
    position: absolute;
    margin: 0;
    width: 239px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    vertical-align: middle;
  }

}

.ant-rate .ant-rate-star:not(:last-child) {
  margin-inline-end: 2px;
}

.card-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 7px;
}

.rating {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 0;
  padding: 14px 0;
  box-sizing: border-box;

  border: 1px solid;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 8px;
}

.rating__low {
  border-color: #E90000;
}

.rating__middle {
  border-color: #E97E00;
}

.rating__high {
  border-color: #E9D100;
}

.rating__highest {
  border-color: #66E900;
}

